body{
  background: #FFF8DC;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.banner {
  margin-top: -3vmin;
  font: bold 10vmin Arial;
  text-align: center;
}
.chatbox {
  margin: auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25vmin;
  margin-left: -35vmin;
  width: 65vmin;
  height: 40vmin;
  border: 4px dashed #000;
}
form p {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  font: bold 3vmin Arial;
}
form input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form button {
  margin: auto;
  color: #000;
  background: #FFD700;
  border: 4px solid #000;
  width: 100%;
  transition: all .2s ease;
  font: bold 4vmin Arial;
}
form button:hover {
  background: #ADFF2F;
}
form button:active {
  border:0;
}
.output img {
  margin-top: -20vmin;
  width: 25vmin;
  height: 25vmin;
}
.output p {
  margin-right: -25vmin;
  margin-top: -20vmin;
  font: bold 7vmin Arial;
  text-align: center;
}
.footer {
  margin-top: -1vmin;
  font: bold 2vmin Arial;
  text-align: center;
}


